{%extends "base.html"%}

{% load static%}
{%block title%}
List
<link rel="stylesheet" href="{%static 'style.css'%}">
{% endblock %}
{%block body%}
        {% for restaurant in restaurants %}
                <div class="card text-center col-lg-4" style="width: 18rem;">
                        <!--<img src="..." class="card-img-top" alt="...">-->
                        <div class="card-body">
                                <h5 class="card-title">{{restaurant.name}}</h5>
                                <p class="card-text"> {{restaurant.description}}</p>
                                <a href="{% url 'restaurant-detail' restaurant.id %}" class="btn btn-primary">See Details</a>
                        </div>
                </div>
        {% endfor %}
{%endblock%}


